<section class="ls section_padding_100  background_cover">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Gallery</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
            </div>
        </div>

        <div class="row services-container topmargin_80 col-md-12 col-sm-12">
            <div class="container align-self-center">
                <div class="card col-md-1 col-sm-1 "></div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/1.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/2.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/7.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/8.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
            </div>
            <div class="container align-self-center">
                <div class="card col-md-1 col-sm-1 "></div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/5.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/6.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/3.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/4.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
            </div>
            <div class="container align-self-center">
                <div class="card col-md-1 col-sm-1 "></div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/9.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/10.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/11.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/12.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>
            </div>
            <div class="container align-self-center">
                <div class="card col-md-1 col-sm-1 "></div>
                <div class="card col-md-5 col-sm-5 zoom" style="width: 52rem;">
                    <div class="service-item align-self-center">
                        <img src="assets/images/services/13.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                    <div class="service-item text-center">
                        <img src="assets/images/services/14.jpg" alt="e-zclean4you" style="width: 220px; height: 220px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>