<section class="ls section_padding_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">Warehouse Cleaning</h3>

                <img src="assets/images/gallery/21.jpg" alt="" class="alignleft">

                <p>
                    For the warehouse cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Cleaning of bathrooms, windows.
                        </li>
                        <li class="leftmargin_20">
                            Take out the garbage.
                        </li>
                        <li class="leftmargin_20">
                            We Sweep and mop.
                        </li>
                        <li class="leftmargin_20">
                            Small kitchen cleaning.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bath.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trash.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trap.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_polvo.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="Pretty Press"></div>

        </div>
    </div>
</section>