<section class="ls section_padding_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">House Cleaning</h3>

                <img src="assets/images/gallery/09.jpg" alt="e-zclean4you" class="alignleft">

                <p>
                    For the house cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Cleaning of floors, windows, furniture, living room, bathrooms and <br>dining room, kitchen, basements, and bedrooms.
                        </li>
                        <li class="leftmargin_20">
                            We vacuum floors.
                        </li>
                        <li class="leftmargin_20">
                            We mop wooden and ceramic floors. Floors in general.
                        </li>
                        <li class="leftmargin_20">
                            We order things (closets, cabinets, etc).
                        </li>
                        <li class="leftmargin_20">
                            Make beds and change sheets.
                        </li>
                        <li class="leftmargin_20">
                            We dusts with special products for wood.
                        </li>
                    </ul>
                    <!-- #52CBD0 -->
                </div>
                <br> <br>
                <h3 class="entry-title highlight topmargin_5 bottommargin_30">Extra Cost</h3>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Oven, Fridge(inside) and garage
                        </li>
                    </ul>
                </div>

                <br> <br>
                <h3 class="entry-title highlight topmargin_5 bottommargin_30">Note</h3>
                <p class="margin_0">
                    We clean to your liking, you choose organic and chemical products of your choice.
                </p>
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_floor.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bath.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trap.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_vacuum.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bed.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_order.png" alt="e-zclean4you"></div>
        </div>
    </div>
</section>