<section class="ds services parallax section_padding_top_110 section_padding_bottom_90 columns_padding_0">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Our Services</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
            </div>
        </div>

        <div class="row services-container topmargin_80">
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/house.png" alt="Pretty Press">
                    <h3 class="bold">House Cleaning</h3>
                    <p class="margin_0">
                        Limpiamos a tu gusto, tú eliges productos orgánicos y químicos a tu preferencia.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">House</h4>
                        <p class="margin_0">
                            Limpiamos pisos, vidrios, muebles, aspiramos pisos, trapeamos pisos de madera y cerámica (mapeamos)..
                        </p>
                        <br>
                        <a routerLink="/house" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/warehouse.png" alt="Pretty Press">
                    <h3 class="bold">Warehouse Cleaning</h3>
                    <p class="margin_0">
                        Sacamos basura, barremos, trapeamos, limpiamos vidrios, baños y limpiamos la pequeña cocina.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Warehouse</h4>
                        <p class="margin_0">
                            Sacamos basura, barremos, trapeamos, limpiamos vidrios, baños y limpiamos la pequeña cocina.
                        </p>
                        <br>
                        <a routerLink="/warehouse" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/office.png" alt="Pretty Press">
                    <h3 class="bold">Office Cleaning</h3>
                    <p class="margin_0">
                        En las oficinas no hacemos organización de papeles pero si el cliente quiere se lo hace.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Office</h4>
                        <p class="margin_0">
                            Aspiramos, trapeamos, sacamos polvo, limpiamos las computadoras, limpiamos vidrios, sacamos la basura, limpiamos la cocina, salas de conferencia..
                        </p>
                        <br>
                        <a routerLink="/office" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/small.png" alt="Pretty Press">
                    <h3 class="bold">Small Business Cleaning</h3>
                    <p class="margin_0">
                        Trapeamos, pasamos la aspiradora, limpiamos vidrios, baños..
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Small Business</h4>
                        <p class="margin_0">
                            Trapeamos, pasamos la aspiradora, limpiamos vidrios, baños..
                        </p>
                        <br>
                        <a routerLink="/small" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>restaurant
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/restaurant.png" alt="Pretty Press">
                    <h3 class="bold">Restaurants Cleaning</h3>
                    <p class="margin_0">
                        Trapeamos, pasamos la aspiradora, limpiamos vidrios, espejos, baños, limpiar mesas y sillas.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Restaurants</h4>
                        <p class="margin_0">
                            Trapeamos, pasamos la aspiradora, limpiamos vidrios, espejos, baños, limpiar mesas y sillas.
                        </p>
                        <br>
                        <a routerLink="/restaurant" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <div class="service-icon service-scavengery"></div>
                    <h3 class="bold">Deep Cleaning</h3>
                    <p class="margin_0">
                        Limpiamos a tu gusto, tú eliges productos orgánicos y químicos a tu preferencia.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Deep</h4>
                        <p class="margin_0">
                            Limpiamos pisos, vidrios, muebles, aspiramos pisos, trapeamos pisos de madera y cerámica (mapeamos)..
                        </p>
                        <br>
                        <a routerLink="/deep" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>