<section class="ds services parallax section_padding_top_110 section_padding_bottom_90 columns_padding_0">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Our Services</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
            </div>
        </div>

        <div class="row services-container topmargin_80">
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/house.png" alt="Pretty Press">
                    <h3 class="bold">House Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of floors, windows, furniture, <br> Cleaning living, bath and dining room...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">House</h4>
                        <p class="margin_0">
                            Cleaning of floors, windows, furniture, <br> Cleaning living, bath and dining room...
                        </p>
                        <br>
                        <a routerLink="/house" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/warehouse.png" alt="Pretty Press">
                    <h3 class="bold">Warehouse Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of bathrooms, windows, <br> Take out the garbage...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Warehouse</h4>
                        <p class="margin_0">
                            Cleaning of bathrooms, windows, <br> Take out the garbage...
                        </p>
                        <br>
                        <a routerLink="/warehouse" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/office.png" alt="Pretty Press">
                    <h3 class="bold">Office Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of computers, windows, kitchen, <br> We Vacuum, mop and dust...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Office</h4>
                        <p class="margin_0">
                            Cleaning of computers, windows, kitchen, <br> We Vacuum, mop and dust...
                        </p>
                        <br>
                        <a routerLink="/office" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/small.png" alt="Pretty Press">
                    <h3 class="bold">Small Business Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of bathrooms, windows, <br> We Mop and vacuum...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Small Business</h4>
                        <p class="margin_0">
                            Cleaning of bathrooms, windows, <br> We Mop and vacuum...
                        </p>
                        <br>
                        <a routerLink="/small" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>restaurant
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/restaurant.png" alt="Pretty Press">
                    <h3 class="bold">Restaurants Cleaning</h3>
                    <p class="margin_0">
                        Cleaning windows, mirrors, bathrooms, <br> Cleaning of tables and chairs...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Restaurants</h4>
                        <p class="margin_0">
                            Cleaning windows, mirrors, bathrooms, <br> Cleaning of tables and chairs...
                        </p>
                        <br>
                        <a routerLink="/restaurant" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/deep.png" alt="Pretty Press">
                    <h3 class="bold">Deep Cleaning</h3>
                    <p class="margin_0">
                        Cleaning floors, ovens, windows, <br> Cleaning of ovens and washing machines...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Deep</h4>
                        <p class="margin_0">
                            Cleaning floors, ovens, windows, <br> Cleaning of ovens and washing machines...
                        </p>
                        <br>
                        <a routerLink="/deep" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>