<section class="ls section_padding_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">Small Business Cleaning</h3>

                <img src="assets/images/gallery/11.jpg" alt="e-zclean4you" class="alignleft">

                <p>
                    For the small business cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Cleaning of bathrooms, windows.
                        </li>
                        <li class="leftmargin_20">
                            We Mop.
                        </li>
                        <li class="leftmargin_20">
                            We vacuum.
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_vacuum.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="e-zclean4you"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bath.png" alt="e-zclean4you"></div>
        </div>
    </div>
</section>