<!-- <header class="page_header mainpage_header header_darkgrey"> -->
<header class="page_header mainpage_header header_darkgrey table_section section_padding_10">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <a routerLink="home" class="logo to_logo">
                    <img src="assets/images/logo3.png" alt="Pretty Press">
                </a>
                <!-- header toggler -->
                <span class="toggle_menu">
                    <span></span>
                </span>
            </div>

            <div class="col-md-9 text-right">
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <li routerLinkActive="active">
                            <a routerLink="home">Home</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="about">About US</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="service">Services</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="gallery">Gallery</a>
                        </li>
                        <li>
                            <a routerLink="contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>