<section class="ls section_padding_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">Deep Cleaning</h3>

                <img src="assets/images/gallery/23.jpg" alt="" class="alignleft">

                <p>
                    For the deep cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Cleaning floors, windows.
                        </li>
                        <li class="leftmargin_20">
                            Cleaning of ovens and washing machines.
                        </li>
                        <li class="leftmargin_20">
                            We mop.
                        </li>
                        <li class="leftmargin_20">
                            Cleaning of refrigerators, kitchens, <br> kitchen furniture (inside and out).
                        </li>
                        <li class="leftmargin_20">
                            Complete cleaning of the house (internal part).
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trap.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_refrigerator.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bath.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_laundry.png" alt="Pretty Press"></div>
        </div>
    </div>
</section>