<section class="ls section_padding_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">Restaurants Cleaning</h3>

                <img src="assets/images/gallery/12.jpg" alt="" class="alignleft">

                <p>
                    For the restaurants cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            Cleaning windows, mirrors, bathrooms.
                        </li>
                        <li class="leftmargin_20">
                            Cleaning of tables and chairs.
                        </li>
                        <li class="leftmargin_20">
                            We vacuum and mop.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_vacuum.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_glass.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_bath.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_chair.png" alt="Pretty Press"></div>
        </div>
    </div>
</section>