<section class="ls section_padding_100 page_about background_cover">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 text-center text-md-left">
                <h2 class="highlight">Mission</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    We provide the most reliable cleaning service, cleaning houses, offices, restaurants, small businesses, deep cleaning and warehouses. Put the trust in our hands since we love what we do and we want you to have a different experience to see the magical
                    change that can make a cleaning with excellence.
                </p>
            </div>

            <div class="col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 text-center text-md-left">
                <h2 class="highlight">Vision</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    18 years in the market providing better customer service.
                </p>
            </div>

            <div class="col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 text-center text-md-left">
                <h2 class="highlight">About Us</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
                <div class="row topmargin_40 bottommargin_40 text-left">
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-sertification"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Certification</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    Cleaners certified &amp; highly experienced professionals.
                                </p>
                            </div>
                        </div>
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-hours"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">24/7 Opened</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We work hard so you don’t have to.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-fair"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Fair Prices</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We aren’t cheapest, but we won’t ruin your wallet.
                                </p>
                            </div>
                        </div>
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-staff"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Professional Staff</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We are professional and experienced cleaning staff.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>