<section class="intro_section page_mainslider top-offset ds">
    <div class="">
        <!--flexslider -->
        <ul class="slides">
            <li>
                <img src="assets/images/slide01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer">
                                        <p class="big grey quicksand bottommargin_15">
                                            Cleaning with excellence
                                        </p>
                                    </div>
                                    <div class="intro-layer">
                                        <p class="fontsize_20 quicksand">
                                            18 years in the market providing better customer service.
                                        </p>
                                        <a routerLink="/about" class="theme_button color1 topmargin_40">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--             
            <li>
                <img src="assets/images/slide02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" >
                                        <p class="big grey quicksand bottommargin_15">
                                            We clean so you do not have to
                                        </p>
                                    </div>
                                    <div class="intro-layer" >
                                        <p class="fontsize_20 quicksand">
                                            Your home is in good hands.
                                        </p>
                                        <a href="appointment.html" class="theme_button color1 topmargin_40">Schedule Cleaning</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li>
                <img src="assets/images/slide03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" >
                                        <p class="big grey quicksand bottommargin_15">
                                            We can make your place sparkle
                                        </p>
                                    </div>
                                    <div class="intro-layer" >
                                        <p class="fontsize_20 quicksand">
                                            Professional. Affordable. Reliable.
                                        </p>
                                        <a href="appointment.html" class="theme_button color1 topmargin_40">Schedule Cleaning</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</section>


<section class="ls section_padding_100 page_about background_cover">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 text-center text-md-left">
                <h2 class="highlight">About Us</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    <!-- Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best. -->
                    We specialize in using quality products to give you excellent service.
                </p>
                <div class="row topmargin_40 bottommargin_40 text-left">
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-sertification"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Certification</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    Cleaners certified &amp; highly experienced professionals.
                                </p>
                            </div>
                        </div>
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-staff"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Professional Staff</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We are professional and experienced cleaning staff.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-fair"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Fair Prices</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We aren’t cheapest, but we won’t ruin your wallet.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <a routerLink="/about" class="theme_button color1 border_button">Learn More</a>
            </div>
        </div>
    </div>
</section>


<section class="ds services parallax section_padding_top_110 section_padding_bottom_90 columns_padding_0">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Our Services</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                    <!-- We specialize in using quality products to give you excellent service. -->
                </p>
            </div>
        </div>

        <div class="row services-container topmargin_80">
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/house.png" alt="Pretty Press">
                    <h3 class="bold">House Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of floors, windows, furniture, <br> Cleaning living, bath and dining room...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">House</h4>
                        <p class="margin_0">
                            Cleaning of floors, windows, furniture, <br> Cleaning living, bath and dining room...
                        </p>
                        <br>
                        <a routerLink="/house" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/warehouse.png" alt="Pretty Press">
                    <h3 class="bold">Warehouse Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of bathrooms, windows, <br> Take out the garbage...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Warehouse</h4>
                        <p class="margin_0">
                            Cleaning of bathrooms, windows, <br> Take out the garbage...
                        </p>
                        <br>
                        <a routerLink="/warehouse" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/office.png" alt="Pretty Press">
                    <h3 class="bold">Office Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of computers, windows, kitchen, <br> We Vacuum, mop and dust...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Office</h4>
                        <p class="margin_0">
                            Cleaning of computers, windows, kitchen, <br> We Vacuum, mop and dust...
                        </p>
                        <br>
                        <a routerLink="/office" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/small.png" alt="Pretty Press">
                    <h3 class="bold">Small Business Cleaning</h3>
                    <p class="margin_0">
                        Cleaning of bathrooms, windows, <br> We Mop and vacuum...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Small Business</h4>
                        <p class="margin_0">
                            Cleaning of bathrooms, windows, <br> We Mop and vacuum...
                        </p>
                        <br>
                        <a routerLink="/small" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>restaurant
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/restaurant.png" alt="Pretty Press">
                    <h3 class="bold">Restaurants Cleaning</h3>
                    <p class="margin_0">
                        Cleaning windows, mirrors, bathrooms, <br> Cleaning of tables and chairs...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Restaurants</h4>
                        <p class="margin_0">
                            Cleaning windows, mirrors, bathrooms, <br> Cleaning of tables and chairs...
                        </p>
                        <br>
                        <a routerLink="/restaurant" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/deep.png" alt="Pretty Press">
                    <h3 class="bold">Deep Cleaning</h3>
                    <p class="margin_0">
                        Cleaning floors, ovens, windows, <br> Cleaning of ovens and washing machines...
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Deep</h4>
                        <p class="margin_0">
                            Cleaning floors, ovens, windows, <br> Cleaning of ovens and washing machines...
                        </p>
                        <br>
                        <a routerLink="/deep" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ls section_padding_110 pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="highlight">Pricing Tables</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
            </div>
        </div>
        <div class="row topmargin_75">
            <div class="col-md-4 col-sm-6">
                <div class="price-table style1 after_cover bg_teaser">
                    <img src="assets/images/price-bg.jpg" alt="">
                    <!-- <div class="plan-price grey">
                        <span>$</span>
                        <span>550</span>
                    </div> -->
                    <div class="plan-name">
                        <h3>Regular Cleaning</h3>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li class="enabled">Bedrooms</li>
                            <li class="enabled">Bathrooms</li>
                            <li class="enabled">Living room</li>
                            <li class="disabled">Kitchen</li>
                            <li class="disabled">Dinning room</li>
                            <li class="disabled">Garage</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="price-table style1 after_cover bg_teaser">
                    <img src="assets/images/price-bg.jpg" alt="">
                    <!-- <div class="plan-price grey">
                        <span>$</span>
                        <span>850</span>
                    </div> -->
                    <div class="plan-name">
                        <h3>Green Cleaning</h3>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li class="enabled">Bedrooms</li>
                            <li class="enabled">Bathrooms</li>
                            <li class="enabled">Living room</li>
                            <li class="disabled">Kitchen</li>
                            <li class="disabled">Dinning room</li>
                            <li class="disabled">Garage</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-0 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="price-table style1 after_cover bg_teaser">
                    <img src="assets/images/price-bg.jpg" alt="">
                    <!-- <div class="plan-price grey">
                        <span>$</span>
                        <span>350</span>
                    </div> -->
                    <div class="plan-name">
                        <h3>Deep Cleaning</h3>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li class="enabled">House (internal part)</li>
                            <li class="enabled">Floors, windows</li>
                            <li class="enabled">Ovens</li>
                            <li class="disabled">Washing machines</li>
                            <li class="disabled">Refrigerators, kitchens</li>
                            <li class="disabled">We mop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>