<section class="intro_section page_mainslider top-offset ds">
    <div class="">
        <!--flexslider -->
        <ul class="slides">
            <li>
                <img src="assets/images/slide01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer">
                                        <p class="big grey quicksand bottommargin_15">
                                            Cleaning with excellence
                                        </p>
                                    </div>
                                    <div class="intro-layer">
                                        <p class="fontsize_20 quicksand">
                                            18 years in the market providing better customer service.
                                        </p>
                                        <a routerLink="/about" class="theme_button color1 topmargin_40">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--             
            <li>
                <img src="assets/images/slide02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" >
                                        <p class="big grey quicksand bottommargin_15">
                                            We clean so you do not have to
                                        </p>
                                    </div>
                                    <div class="intro-layer" >
                                        <p class="fontsize_20 quicksand">
                                            Your home is in good hands.
                                        </p>
                                        <a href="appointment.html" class="theme_button color1 topmargin_40">Schedule Cleaning</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li>
                <img src="assets/images/slide03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" >
                                        <p class="big grey quicksand bottommargin_15">
                                            We can make your place sparkle
                                        </p>
                                    </div>
                                    <div class="intro-layer" >
                                        <p class="fontsize_20 quicksand">
                                            Professional. Affordable. Reliable.
                                        </p>
                                        <a href="appointment.html" class="theme_button color1 topmargin_40">Schedule Cleaning</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</section>


<section class="ls section_padding_100 page_about background_cover">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8 col-lg-offset-6 col-lg-6 text-center text-md-left">
                <h2 class="highlight">About Us</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color2">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
                <div class="row topmargin_40 bottommargin_40 text-left">
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-sertification"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Certification</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    Cleaners certified &amp; highly experienced professionals.
                                </p>
                            </div>
                        </div>
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-hours"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">24/7 Opened</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We work hard so you don’t have to.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-fair"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Fair Prices</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We aren’t cheapest, but we won’t ruin your wallet.
                                </p>
                            </div>
                        </div>
                        <div class="media about-feature">
                            <div class="media-left">
                                <span class="features features-staff"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="bold bottommargin_5">Professional Staff</h4>
                                <p class="fontsize_16 bottommargin_5">
                                    We are professional and experienced cleaning staff.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a routerLink="/about" class="theme_button color1 border_button">Learn More</a>
            </div>
        </div>
    </div>
</section>


<section class="ds services parallax section_padding_top_110 section_padding_bottom_90 columns_padding_0">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Our Services</h2>
                <hr class="inline-block divider_15 dividersize_2_30 main_bg_color">
                <p>
                    Our professional and experienced cleaning staff does the job right the first time, giving you confidence that you office and building will always look their best.
                </p>
            </div>
        </div>

        <div class="row services-container topmargin_80">
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/house.png" alt="Pretty Press">
                    <h3 class="bold">House Cleaning</h3>
                    <p class="margin_0">
                        Limpiamos a tu gusto, tú eliges productos orgánicos y químicos a tu preferencia.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">House</h4>
                        <p class="margin_0">
                            Limpiamos pisos, vidrios, muebles, aspiramos pisos, trapeamos pisos de madera y cerámica (mapeamos)..
                        </p>
                        <br>
                        <a routerLink="/house" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/warehouse.png" alt="Pretty Press">
                    <h3 class="bold">Warehouse Cleaning</h3>
                    <p class="margin_0">
                        Sacamos basura, barremos, trapeamos, limpiamos vidrios, baños y limpiamos la pequeña cocina.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Warehouse</h4>
                        <p class="margin_0">
                            Sacamos basura, barremos, trapeamos, limpiamos vidrios, baños y limpiamos la pequeña cocina.
                        </p>
                        <br>
                        <a routerLink="/warehouse" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/office.png" alt="Pretty Press">
                    <h3 class="bold">Office Cleaning</h3>
                    <p class="margin_0">
                        En las oficinas no hacemos organización de papeles pero si el cliente quiere se lo hace.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Office</h4>
                        <p class="margin_0">
                            Aspiramos, trapeamos, sacamos polvo, limpiamos las computadoras, limpiamos vidrios, sacamos la basura, limpiamos la cocina, salas de conferencia..
                        </p>
                        <br>
                        <a routerLink="/office" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/small.png" alt="Pretty Press">
                    <h3 class="bold">Small Business Cleaning</h3>
                    <p class="margin_0">
                        Trapeamos, pasamos la aspiradora, limpiamos vidrios, baños..
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Small Business</h4>
                        <p class="margin_0">
                            Trapeamos, pasamos la aspiradora, limpiamos vidrios, baños..
                        </p>
                        <br>
                        <a routerLink="/small" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>restaurant
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <img src="assets/img/icons/restaurant.png" alt="Pretty Press">
                    <h3 class="bold">Restaurants Cleaning</h3>
                    <p class="margin_0">
                        Trapeamos, pasamos la aspiradora, limpiamos vidrios, espejos, baños, limpiar mesas y sillas.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Restaurants</h4>
                        <p class="margin_0">
                            Trapeamos, pasamos la aspiradora, limpiamos vidrios, espejos, baños, limpiar mesas y sillas.
                        </p>
                        <br>
                        <a routerLink="/restaurant" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service-item text-center">
                <div class="box21">
                    <br>
                    <div class="service-icon service-scavengery"></div>
                    <h3 class="bold">Deep Cleaning</h3>
                    <p class="margin_0">
                        Limpiamos a tu gusto, tú eliges productos orgánicos y químicos a tu preferencia.
                    </p>

                    <div class="box-content">
                        <h4 class="bold">Deep</h4>
                        <p class="margin_0">
                            Limpiamos pisos, vidrios, muebles, aspiramos pisos, trapeamos pisos de madera y cerámica (mapeamos)..
                        </p>
                        <br>
                        <a routerLink="/deep" class="theme_button color2 border_button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>