<footer class="footer ds ms section_padding_top_75 section_padding_bottom_90">
    <div class="footer-line-triple has-widgets">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-widget-first-col">
                    <div id="text-81" class="widget-1 widget-first widget-last widget-odd foot-about col-md-12 widget widget_text">
                        <h3 class="widget-title">Contact Info</h3>
                        <div class="textwidget">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:support@example.com">&nbsp; info@e-zclean4you.com</a><br><br>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <strong>&nbsp;(973) 4495279</strong><br><br>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>&nbsp;96 Belmont Avenue. Belleville. NJ.07109</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 footer-widget-middle-col first">
                    <div id="working-hours-2" class="widget-1 widget-first widget-last widget-odd col-md-12 widget widget_working_hours">
                        <h3 class="widget-title">Opening Hours</h3>
                        <div class="working-hours">
                            <h4>Office Hours</h4>
                            <ul>
                                <li>- Mon - Sat <span>8 A.M. - 5 P.M.</span></li>
                                <li>- Sunday <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                    <div id="working-hours-2" class="widget-1 widget-first widget-last widget-odd col-md-12 widget widget_working_hours">
                        <div class="working-hours">
                            <h4>Working Hours</h4>
                            <ul>
                                <li>- Mon - Sat <span>8 A.M. - 7 P.M.</span></li>
                                <li>- Sunday <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 footer-widget-middle-col last">
                    <div id="nav_menu-2" class="widget-1 widget-first widget-last widget-odd col-md-12 widget widget_nav_menu">
                        <h3 class="widget-title">Social Networks</h3>
                        <div class="menu-social-menu-container">
                            <ul id="menu-social-menu-1" class="social-navigation fa-icons">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3414">
                                    <a href="https://www.facebook.com/E-Z-Clean4you-102922751303654/">Facebook</a>
                                </li>

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3415">
                                    <a href="">Twitter</a>
                                </li>

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3603">
                                    <a href="">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright" align="center">
        <div class="relwraper h">
            <div class="centered-vertical">
                © {{ anio }} Designed and created by
                <a href="https://www.facebook.com/physeter.S.A">
                    PHYSETER
                </a>
            </div>
        </div>
    </div>
</footer>