<section class="ls section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 align="center" style="margin-top: -70px !important;" class="entry-title highlight">Office Cleaning</h3>
                <img src="assets/images/gallery/08.jpg" alt="" class="alignleft">
                <p>
                    For the office cleaning service we offer:
                </p>
                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            We Vacuum, mop and dust.
                        </li>
                        <li class="leftmargin_20">
                            Cleaning of computers, windows, kitchen, conference rooms.
                        </li>
                        <li class="leftmargin_20">
                            We take out the garbage.
                        </li>
                    </ul>
                </div>
                <br>
                <h3 class="entry-title highlight">Note:</h3>

                <div class="inline-block">
                    <ul class="list2 regular grey">
                        <li class="leftmargin_20">
                            In the offices we do not organize papers but if the client <br> wants, We do it.
                        </li>
                        <li class="leftmargin_20">
                            We clean to your liking, you choose organic and chemical <br> products of your choice.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_vacuum.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trap.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_mop.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_polvo.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_polvo1.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_computer.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_window.png" alt="Pretty Press"></div>
            <div class="col-sm-1"><img src="assets/img/icons/s_trash.png" alt="Pretty Press"></div>

        </div>
    </div>
</section>